<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Quản lý công việc</h2>
    <form>
      Tên: <input type="text" name="name" />  </br>
      Hạn: <input type="date" name="date" /> </br>
      Ghi chú: <input type="text" name="note" /> </br>
      <button type="submit">Thêm</button> </br>
    </form>
    </br>
    <h2>Tìm kiếm công việc</h2>
    Tìm kiếm: <input type="text" name="timKiem" /> 
    <button type="submit">Tìm kiếm</button> </br>
    </br>
    <h2>Danh sách công việc</h2>
    <table border = "1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên</th>
          <th>Hạn</th>
          <th>Ghi chú</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
